<!doctype html>
<html lang="en" ng-app="Twitter">
<head>
  <meta charset="utf-8">
  <title>Stat</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/bower_components/angular-chart.js/dist/angular-chart.css"></link>

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="//platform.twitter.com/widgets.js"></script>
	<script src="/bower_components/Chart.js/Chart.js"></script>
	<script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
	<script src="/bower_components/angular-moment/angular-moment.js"></script>
	<script src="/javascripts/Stat.js"></script>

</head>
<body>
	<div ng-controller="Stat">
		<div class="row clearfix">
			<div class="col-lg-12">

				<button class="btn btn-primary" ng-click="getImport()">Import</button>

				<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
				</canvas>

				<canvas id="bar" class="chart chart-bar" chart-data="retweetData" chart-labels="retweetLabels">
				</canvas>
				{{hoursLabels}}
				{{hoursData}}
				<canvas id="line" class="chart chart-line" chart-data="hoursData"
						chart-labels="hoursLabels" chart-series="series">
				</canvas>

				<!--<pre>{{retweetData}}</pre>-->
				<!--<div id="tweet-list">-->

					<!--<div ng-repeat="tweet in tweetsResult" class="tweet-item">-->
						<!--<p>Tweet : {{tweet.metadata.iso_language_code}}</p>-->
					<!--</div>-->

				<!--</div>-->

			</div>
	</div>
</body>
</html>
